
.MainSettingItem {
  
  width: 100%;

  &__card {
    background-color: white;    
    margin:10px;
    padding:10px;

  }

  &__body {
    display: flex;
    margin-left: 2%;
    padding:10px;
    
  }
  &__itemTitle {
    font-weight: bold;
    flex: 1;
    flex-basis: 80px;
    align-items: left;
    padding-bottom: 5px;
    border-bottom: black 1px solid;
    
  }
  &__itemBody {
    // font-weight: bold;
    flex: 1;
    flex-basis: 80px;
    align-items: left;
    
    
  }
  &__wrapTitleArea{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: space-between;
  }
  &__editButton{
    flex: 1;
    margin-left: auto;
    color:gray;

  }
  &__title{
      flex: 1 ;
      // border: black 1px solid;
    }

}